body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(top, rgba(2, 0, 36, 1) 0%, rgb(63, 63, 96) 35%, rgb(35, 87, 98) 100%);

}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
}

.container {
    margin: auto;
    min-width: 600px;
    position: relative;
    padding-inline: 20px;


}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    text-transform: capitalize;
}

.heading span:first-child {
    color: rgb(244, 13, 244);
}

.heading span+span {
    color: #90846d;
}
.social-media{
    display: flex;
    justify-content: center;
    gap:10px
}
.social-media img{
 border-radius: 5px;
 
}

.main-section-heading {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}

.main-section-heading img {
    height: 30px;

}

.main-section-heading span {
    font-weight: 700;
    font-size: 1.5rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #4f4040;
    padding: 35px 43px;
    border-radius: 12px;
    color: white;
    box-shadow: 0px 0px 10px rgb(141, 140, 140);

}

.motivational-banner {
    font-size: 16px;
    font-weight: 100;
    opacity: 0.6;
    width: 350px;
    height: 30px;
    position: relative;
    font-family: "poppins",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.bar-holder {
    width: 100%;
    height: 20px;
    border-radius: 12px;
    border: 1px solid grey;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-bar {
    width: 90%;
    height: 18px;
    border-radius: inherit;
    background-color: purple;
    position: absolute;
}

.tasks-completed {
    position: absolute;
    margin-left: 8px;
}

.horizontal-line {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

.cart-container img {
    height: 90px;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px -1px 2px #49a7ee);
}

.cart-container img:hover {
    scale: 1.1;
}

.cart-container {
    min-height: 70px;
    background-color: #5a5656;
    padding: 10px;
    box-shadow: 0 0 10px rgb(232, 230, 230);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
 
    transition: scale 0.25s ease-out;
}

.cart-container:hover {
    scale: 1.02;
}

.carts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#checkbox-task {
    accent-color: purple;
}

.accent-color {
    accent-color: purple;
}

.add-carts{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: rgb(157, 10, 157);
    position: absolute;
    top:120px;
    right: 50px;
    cursor: pointer;
    transition: scale 0.25s ease-out ;
}

.add-carts:hover {
    scale: 1.2;
}

.remove-it {
    display: none;
}

.cart-container img {
    height: 40px;
    width: 35px;
    position: absolute;
    right: 5px;
}

.blur-this {
    opacity: 0.4;
    color: black;
    pointer-events: none;
}

.author {
    font-size: small;
    opacity: 0.5;
    text-transform: capitalize;
    position: relative;
}

.motivational-banner-quotes {
    position: relative;
}

.motivational-banner-quotes::before {
    position: absolute;
    display: inline;
    right: 0;
    content: "";
    width: 2px;
    height: 100%;
    border: 1px solid yellow;
    background-color: rgb(202, 202, 202);
    animation: blinker 1s step-end infinite;
}

.author-name::after {
    position: absolute;
    display: inline;
    right: 0;
    content: "";
    width: 2px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: blinker 1s step-end infinite;
}

.popup-cart {
    background-color: rgb(30, 45, 58);
    border-radius: 20px;
    /* inset: 450px 400px 50px; */
    padding: 20px;
    box-shadow: 0 0 10px gray;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    transition: all 1s ease-in-out;
    z-index: 100;
    color: white;
}

.popup-cart input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    outline: none;
    background-color: antiquewhite;
    border: none;
    width: 100%;
}

.popup-cart img {
    width: 200px;
    filter: drop-shadow(2px 0px 1px #49a7ee);
}


.userInputSection {
    display: flex;
    gap: 5px
}

.popup-cart button {
    cursor: pointer;
    padding: 5px 15px;
    background-color: rgb(0, 157, 255);
    display: inline-block;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: black;
    color: white;
}

.popup-cart button:hover {
    background-color: white;
    color: black;
}

.close_button {
    cursor: pointer;
}

.popup-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);

}
.copyright-section a {
    text-decoration: none;
    color:rgb(52, 38, 18);
}
.copyright-section{
    position: absolute;
    color: antiquewhite;
    width: 100%;
    font-size: 9px;
    font-style: italic;
    text-align: center;
    /* bottom: -10px; */
}
.lineThrough{
    width: 100px;
    text-overflow:ellipsis ;
    display: flex;
    flex-wrap: wrap;
}
.text-decoration{
    text-decoration: line-through;
   text-decoration-color:red ;
}

@keyframes blinker {
    0% {
        opacity: 1;
        scale: 0;
    }

    50% {
        opacity: 1;
        scale: 0.9;
    }

    100% {
        opacity: 1;
        scale: 1.2;
    }
}
.last-section{
    position: relative;
    margin-top: -35px;
}

@media screen and (max-width:600px) {
    .container{
        min-width: 300px;
        padding-inline: 0;
        margin-inline: 20px;
    }
    .motivational-banner {
        position: relative;
        width: 300px;
        height: 40px;
    }

    .carts div {
        height: 90px;
        width: 100%;
        align-items: center;
    }

    .carts div .cart-container {
        display: flex;
 
    }

    .cart-container img {
        height: 50px;
        width: 40px;
    }
    .add-carts{
        top: 80px;
        right: 20px;
    }

    .popup-alert {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 100;
        min-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

}

@media screen and (max-width:370px) {
    .heading span {
        font-size: 24px;
    }
    .last-section .copyright-section h2{
        font-size: 9px;
    }
    .container{
        margin: 30px;
    }
    .last-section {
        margin-top:-50px ;
    }
}

.display_none {
    display: none;
}